body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.grey {
  background-color: #999999;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.main-wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 1999;
  overflow: hidden;
  @import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
}
.main-wrap #page-wrapper {
  background-color: #ffffff;
}
.main-wrap h1 {
  font-size: 68px;
}
.main-wrap h2 {
  font-size: 36px;
}
.main-wrap h3 {
  font-size: 24px;
}
.main-wrap h4 {
  font-size: 28px;
}
.main-wrap p {
  font-size: 10px;
}
.main-wrap h1, .main-wrap h2, .main-wrap h3, .main-wrap h4, .main-wrap p {
  line-height: 130%;
}
.main-wrap .text-center {
  width: 100%;
  text-align: center;
}
.main-wrap .box-shadow {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
}
.main-wrap p {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.main-wrap h1, .main-wrap h2, .main-wrap h3, .main-wrap h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 130%;
}
.main-wrap .text-white {
  color: white;
}
.main-wrap .section {
  width: 1280px;
  padding: 0;
  position: relative;
  margin: 0 auto;
  position: relative;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  z-index: 1;
}
.main-wrap .section .wrapper {
  display: flex;
}
.main-wrap .section .wrapper .row {
  display: flex;
  flex-flow: row;
}
.main-wrap .section .wrapper .col {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: flex-start;
}
.main-wrap .section .wrapper .col.col-wrapper {
  padding: 0;
}
.main-wrap .section .wrapper .col.col-0 {
  flex: 0 1 0%;
}
.main-wrap .section .wrapper .col.col-1 {
  flex: 0 1 8.3333333333%;
}
.main-wrap .section .wrapper .col.col-2 {
  flex: 0 1 16.6666666667%;
}
.main-wrap .section .wrapper .col.col-3 {
  flex: 0 1 25%;
}
.main-wrap .section .wrapper .col.col-4 {
  flex: 0 1 33.3333333333%;
}
.main-wrap .section .wrapper .col.col-5 {
  flex: 0 1 41.6666666667%;
}
.main-wrap .section .wrapper .col.col-6 {
  flex: 0 1 50%;
}
.main-wrap .section .wrapper .col.col-7 {
  flex: 0 1 58.3333333333%;
}
.main-wrap .section .wrapper .col.col-8 {
  flex: 0 1 66.6666666667%;
}
.main-wrap .section .wrapper .col.col-9 {
  flex: 0 1 75%;
}
.main-wrap .section .wrapper .col.col-10 {
  flex: 0 1 83.3333333333%;
}
.main-wrap .section .wrapper .col.col-11 {
  flex: 0 1 91.6666666667%;
}
.main-wrap .section .wrapper .col.col-12 {
  flex: 0 1 100%;
}
.main-wrap .section .wrapper .col.col-space-between {
  justify-content: space-between;
}
.main-wrap .section .button-container {
  margin-top: 18px;
}
.main-wrap .section .button {
  margin: 60px auto 30px 0;
  padding: 3px 30px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  background-color: aqua;
}
.main-wrap .section .button.button-purple {
  background-image: linear-gradient(to right, #e53e83, #db3e99);
}
.main-wrap .section .button.button-orange {
  background-color: #e46828;
}
.main-wrap .section .button.button-full-width {
  display: flex;
  justify-content: center;
}
.main-wrap .section .background-container {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
.main-wrap .section.section-content .left-side .background-container {
  position: relative;
  background-image: linear-gradient(-45deg, rgba(4, 0, 255, 0.4), rgba(209, 104, 18, 0), rgba(209, 104, 18, 0), rgba(255, 46, 161, 0.644)), linear-gradient(45deg, rgba(72, 60, 73, 0.87), rgba(58, 32, 92, 0.87), rgba(179, 99, 9, 0.87), rgba(209, 104, 18, 0.87)), url("images/banner-bg-texture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-wrap .section.section-content .left-side .background-container .wrapper {
  padding: 100px 100px 100px 170px;
}
.main-wrap .section.section-content .left-side .background-container .wrapper .left {
  padding-top: 90px;
  padding-right: 80px;
  margin-right: 60px;
  padding-bottom: 70px;
  background-image: radial-gradient(circle at 130% 170%, #009aae 50%, transparent 50%);
}
.main-wrap .section.section-content .left-side .background-container .wrapper .right {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.main-wrap .section.section-content .left-side .background-container .wrapper .right .image-container {
  background-image: linear-gradient(45deg, #614173, #d865b0, #e4a8b0);
}
.main-wrap .section.section-content .left-side .background-container .wrapper .right .image-container img {
  width: 250px;
  height: 250px;
  opacity: 0.2;
  -o-object-position: 0%;
     object-position: 0%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-wrap .section.section-content .left-side .background-container .wrapper .right .background-container {
  margin-left: auto;
  width: 70%;
  height: 200px;
  background-image: linear-gradient(to bottom, #e53e83, #db3e99);
}
.main-wrap .section.section-content .right-side {
  align-items: start;
  position: relative;
  max-height: 100vh;
}
.main-wrap .section.section-content .right-side .corner {
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 300px;
  background-image: radial-gradient(circle at 100% -90%, #e0671e 50%, transparent 50%);
}
.main-wrap .section.section-content .right-side .wrapper {
  padding: 48px 100px 0px 22px;
}
.main-wrap .section.section-content .right-side .wrapper .item-list {
  width: 210px;
}
.main-wrap .section.section-content .right-side .wrapper .item-list .item {
  margin-bottom: 55px;
}
.main-wrap .section.section-content .right-side .wrapper .item-list .item .background-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 170px;
  padding: 0 30px;
  margin-bottom: 12px;
}
.main-wrap .section.section-content .right-side .wrapper .item-list .item .description {
  margin-bottom: 10px;
}
.main-wrap .section.section-content .right-side .wrapper .item-list .item.item-1 .background-container {
  background-image: radial-gradient(410px, rgba(224, 103, 30, 0.9), black), url("/images/banner-bg-texture.jpg");
}
.main-wrap .section.section-content .right-side .wrapper .item-list .item.item-2 .background-container {
  background-image: radial-gradient(410px, rgba(15, 128, 124, 0.9), black), url("/images/banner-bg-texture.jpg");
}
.main-wrap .section.section-content .right-side .wrapper .item-list .item.item-3 .background-container {
  background-image: radial-gradient(410px, rgba(58, 25, 56, 0.9), black), url("/images/banner-bg-texture.jpg");
}/*# sourceMappingURL=style.css.map */