$section-width: 1280px;

body {
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.grey {
  background-color: #999999;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

.main-wrap {
  position: relative;
  margin: 0 auto;
  width: 100%;
  z-index: 1999;
  overflow: hidden;

  #page-wrapper {
    background-color: #beb2c9;
  }

  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 28px;
  }

  p {
    font-size: 10px; 
  }

  h1, h2, h3, h4, p {
    line-height: 130%;
  }

  .text-center {
    width: 100%;
    text-align: center;
  }

  .box-shadow {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
  }

  @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  $font-family-normal: "PT Sans", sans-serif;

  p {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  h1, h2, h3, h4 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    line-height: 130%;
  }

  .text-white {
    color: white;
  }

  .section {
    background-color: white;
    width: $section-width;

    padding: 0;
    position: relative;
    margin: 0 auto;
    position: relative;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    z-index: 1;

    @for $i from 0 through 10 {
      $value: $i * 10;

     
    }
    .wrapper {
      display: flex;

      .row {
        display: flex;
        flex-flow: row;
      }
      
      .col {
        display: flex;
        flex-flow: row wrap;
        flex: 0 0 auto;
        position: relative;

        align-items: start;
        justify-items: center;
        justify-content: flex-start;

        &.col-wrapper {
          padding: 0;
        }


        @for $i from 0 through 12 {
          $w: $i/12;

          &.col-#{$i} {
            flex: 0 1 #{$w * 100%};
          }
        }

        &.col-space-between {
          justify-content: space-between;
        }
      }
    }


    .button-container {
      margin-top: 18px;
      margin-bottom: 18px;
    }

    .button {
      margin: 0px auto 30px 0;
      padding: 3px 30px;
      text-decoration: none;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      font-family: $font-family-normal;
      font-weight: 700;
      border-radius: 3px;
      background-color: aqua;
      box-shadow: 
      (0px 7px 15px #00000035), 
      ;
      

      &.button-purple {
        background-image: linear-gradient(to right, #e53e83, #db3e99);
      }

      &.button-orange {
        background-color: #e46828;
      }

      &.button-full-width {
        display: flex;
        justify-content: center;
      }

      &.button-green {
        background-color: #079aa5;
      }
    }


    .hover-overlay {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.144);
      opacity: 0;
    }

    .hover-element {
      position: relative;
      display: inline-block;
    }

    .background-container {
      box-shadow: 0 15px 20px rgba($color: #000000, $alpha: 0.15);
      border-radius: 3px;
    }

    &.section-content {

      .left-side {
        
        .background-container {
          $opacity: 0.95;
          position: relative;
          background-image: 
          linear-gradient(
            -45deg,
            rgba(200, 88, 52, 1),
            rgba(209, 104, 18, 0),
            rgba(209, 104, 18, 0),
            rgba(209, 104, 18, 0),
            rgba(145, 85, 155, 1),
          ),
          linear-gradient(
            45deg,
            rgba(64, 39, 94, $opacity), 
            rgba(39, 29, 63, $opacity), 
            rgba(179, 99, 9, $opacity),
            rgba(228, 107, 34, $opacity)
          ),
          url('images/banner-bg-texture-bw.jpg');   
          background-repeat: no-repeat;
          background-size: cover;
          
          .wrapper {
            padding: 48px 50px 48px 100px;
            
            .left {
              padding-top: 90px;
              padding-right: 80px;
              padding-bottom: 70px;
            }
            
            .right {
              display: flex;
              flex-flow: column;
              justify-content: space-between;

              .image-container{
                background-image: linear-gradient(45deg, #614173,#d865b0, #e4a8b0);
                img {
                  width: 335px;
                  height: 250px;
                  opacity: 0.2;
                  object-position: 0%;
                  object-fit: cover;
                }
              }
              
              .background-container {
                width: 100%;
                height: 200px;
                background-image: linear-gradient(to bottom, #e53e83, #db3e99);

              }
            }


          }
        }

        .lower-part {
          padding: 80px 50px 0 100px;
          padding-bottom: auto;

          .left {
            padding-right: 60px;
            
            h2 {
              display: block;
            }
            
            p {
              width: 100%;
              display: block;
              
              &.description {
                margin-bottom: 8px;
                font-weight: 700;
             }
            }
          }

          .right {
            padding-right: 0px;
            
            img {
              width: 400px;
              max-width: 100%;
            }

            p.description {
              margin: 8px 0;
              font-weight: 700;
            }

          }
        }

      }
      
      .right-side {
        .corner {
          right: 0;
          top: 0;
          position: absolute;
          width: 100%;
          height: 300px;
          background-image: radial-gradient(circle at 100% -90%, #e0671e 50%, transparent 50%);

        }

        align-items: start;
        position: relative;
        max-height: 100vh;
        
        .wrapper {
          padding: 48px 50px 0px;
          
          .item-list {
            width: 210px;

            .item {
              position: relative;
              display: inline-block;
              transition: transform 0.3s ease;
              margin-bottom: 55px;
              
              .background-container {
                display: flex;
                flex-flow: column;
                justify-content: center;
                height: 170px;
                padding: 0 30px;
                margin-bottom: 12px;
              }
              
              .description {
                margin-bottom: 10px;
              }
              
              $background-image-item: url('/images/banner-bg-texture-bw.jpg');
              $gradient-radius: 410px;
              
              &.item-1 {
                
                .background-container {
                  background-image: radial-gradient(
                    $gradient-radius, 
                    rgba(224,103, 30, 0.9), 
                    black), 
                    $background-image-item ;
                }
              }
              
              &.item-2 {
                
                .background-container {
                  background-image: radial-gradient(
                    $gradient-radius, 
                    rgba(15,128, 124, 0.9), 
                    black), 
                    $background-image-item;
                }
              }

              &.item-3 {
                
                .background-container {
                  background-image: radial-gradient(
                    $gradient-radius, 
                    rgba(58, 25, 56, 0.9), 
                    black), 
                    $background-image-item ;
                }
              }
            }
          }
        }
      }


    }
  }
}